<section class="knp_last_tweets">
    {% if tweets %}
        <ul>
        {% for tweet in tweets %}

            <li><img src="{{ tweet.profileImageUrl }}" alt="{{ tweet.username }}" />{{ tweet.text|knp_tweet_urlize }}</li>
        {% endfor %}
        </ul>
    {% else %}
        No tweets
    {% endif %}
</section>
