<section class="knp_last_tweets">
    {% if tweets %}
        <ul>
            {% for tweet in tweets %}
                <li class="clearfix">
                    <img src="{{ tweet.profileImageUrl }}" alt="{{ tweet.username }}" />
                    <p>{{ tweet.text | raw | knp_tweet_urlize }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        No tweets
    {% endif %}
</section>