{% if tweets %}
    <ul class="knp_last_tweets">
        {% for tweet in tweets %}
            <li class="clearfix">
                <img src="{{ tweet.profileImageUrl }}" alt="{{ tweet.username }}" />
                <p>{{ tweet.text | raw | knp_tweet_urlize }}</p>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p class="no-tweets">Currently are no tweets available</p>
{% endif %}
